* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}
main{
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
}
.feature{
    width: 100%;
    height:92%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.red{
    width: 100%;
    height:92%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.blue{
    width: 100%;
    height:92%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.green{
    width: 100%;
    height:92%;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.yellow{
    width: 100%;
    height:92%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.title{
    height: 100%;
    width:150px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color: aqua;
}

.options{
    height: 100%;
    width:150px;
    display: flex;
}
.simple{
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 2em;
}
.simple p:hover{
   color: aqua;
}
.hex{
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 2em;
}
.hex p:hover{
    color: aqua;
}
.name_color{
    background-color: black;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    color: white;
    font-size: 5em;
    border-radius: 12px;
    font-weight: 700;
}
 button{
    font-size: 3em;
    padding: 8px 8px;
    background-color: white;
    margin-top: 40px;
    transition: 1.1s;
    border-radius: 12px;
    font-weight: 700;
}
 button:hover{
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
}